.navbar{
    padding:0;
}
.navbar .navbar-nav .nav-item{
    padding: 0 50px;

}

.navbar .navbar-nav .nav-but{
    padding:0 15px;
}
.navbar-toggler-icon{
    background-color: white;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color:white;
}
